@model Register.Web.ViewModels.Members.CreateViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Member</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="memberInputModel.FirstName" class="control-label"></label>
                <input asp-for="memberInputModel.FirstName" class="form-control" />
                <span asp-validation-for="memberInputModel.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="memberInputModel.Surname" class="control-label"></label>
                <input asp-for="memberInputModel.Surname" class="form-control" />
                <span asp-validation-for="memberInputModel.Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="memberInputModel.LastName" class="control-label"></label>
                <input asp-for="memberInputModel.LastName" class="form-control" />
                <span asp-validation-for="memberInputModel.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="memberInputModel.PIN" class="control-label"></label>
                <input asp-for="memberInputModel.PIN" class="form-control" />
                <span asp-validation-for="memberInputModel.PIN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select asp-for="memberInputModel.RegionalAssociationId"
                        class="form-control"
                        asp-items="@(new SelectList(Model.regionalAssociationSimpleViewModels,"Id", "AssociationName"))">
                </select>
            </div>
            <div class="form-group">
                <select asp-for="memberInputModel.PlaceOfResidenceId"
                        class="form-control"
                        asp-items="@(new SelectList(Model.placeOfResidenceSimpleViewModels,"Id", "PlaceOfResidenceName"))">
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

